<div class="myProfile-container" ng-controller="myProfileContrller as formCtrl">
		<h3>My Profile</h3>
		<form role="form" name="form" novalidate ng-submit="formCtrl.save()">
			<div class="form-group">
				<div class="text-field" >
					<label for="employeeName">Employee Name</label>
					<input type="text"
						class="form-control-helper"
						id="employeeName"
						name="employeeName"
						placeholder="Emoloyee name"
						autocomplete="off"
						autofocus
						ng-change="formCtrl.makeChange()"
						ng-model="formCtrl.employeeName"
						ng-maxlength="80"
						required="true"
						ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"/>
				</div>
				<div class="text-field" >
					<label for="employeeFullName">Full Name</label>
					<input type="text"
						class="form-control-helper"
						id="employeeFullName"
						name="employeeFullName"
						placeholder="Emoloyee fullname"
						autocomplete="off"
						autofocus
						ng-change="formCtrl.makeChange()"
						ng-model="formCtrl.employeeFullName"
						ng-maxlength="250"
						required="false"
						ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"/>
				</div>
				<div ng-include="'../js/views/include/emailInput.html'"></div>
				<div ng-include="'../js/views/include/dobInput.html'"></div>
				<div class="text-field" >
					<label for="startDay">Start Day</label>
					<input type="text"
					   class="form-control-helper"
					   id="startDate"
					   name="startDay"
					   maxlength="10"
					   placeholder="dd/mm/yyyy"
					   date-validation="{ctrl:formCtrl}"
					   autocomplete="off"
					   autofocus
					   ng-change="formCtrl.makeChange()"
					   ng-model="formCtrl.startDay"
					   disabled="formCtrl.hasAccess"
					   ng-maxlength="10"
					   required="true"
					   ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"/>
				</div>
				<div class="text-field" >
					<label for="Position">Position</label>
					<input type="text"
						class="form-control-helper"
						id="Position"
						name="Position"
						placeholder="Emoloyee Position"
						autocomplete="off"
						autofocus
						ng-change="formCtrl.makeChange()"
						ng-model="formCtrl.Position"
						ng-maxlength="250"
						disabled="formCtrl.hasAccess"
						required="false"
						ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"/>
				</div>
				<div class="text-field" >
					<label for="Access">Employee Accesss</label>
					<input type="text"
						class="form-control-helper"
						id="Access"
						name="Access"
						autocomplete="off"
						autofocus
						disabled="true" 
						ng-model="formCtrl.Access"/>
				</div>
			</div>
			<div class="form-group">
				<a href="javascript:void(0)" target="_self"ng-click="formCtrl.showPasswordFields()" title="Change password">Change password</a></li>
			</div>
				<div ng-show="formCtrl.showInputForms">
					<div class="form-group">
						<div class="text-field" >
							<label for="oldPasswoord">Old Password</label>
							<input type="password"
								class="form-control-helper"
								id="oldPasswoord"
								name="oldPasswoord"
								placeholder="Old Password"
								autocomplete="off"
								maxlength="255" 
								ng-model="formCtrl.oldPasswoord"
								ng-change="formCtrl.makeChange()"
								ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"/>
						</div>
						<div class="text-field" >
							<label for="newPasswoord">New Password</label>
							<input type="password"
								class="form-control-helper"
								id="newPasswoord"
								name="newPasswoord"
								autocomplete="off"
								placeholder="New Password"
								maxlength="255"
								minlength="8"
								title="Minimum 8 characters" 
								ng-model="formCtrl.newPasswoord"
								ng-change="formCtrl.makeChange()"
								ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"/>
						</div>
						<div class="text-field" >
							<label for="confirmPasswoord">Confirm Password</label>
							<input type="password"
								class="form-control-helper"
								id="confirmPasswoord"
								name="confirmPasswoord"
								autocomplete="off"
								placeholder="Confirm Password"
								ng-model="formCtrl.confirmPasswoord"
								ng-change="formCtrl.makeChange()"
								ui-validate=" '$value==formCtrl.newPassword' "
								ui-vatidate-watch=" 'formCtrl.newPassword' "  />
						</div> 
					</div>
				</div>
				<button class="btnSave" type="button"
				ng-disabled="formCtrl.btnSave" title="{{formCtrl.btnName}}"
				ng-click="formCtrl.save()">{{formCtrl.btnName}}</button>
		</form>
</div>